
  .LessonPage {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */

    height: 100vh; /* Full viewport height */
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
    color: #333; /* Dark text color for better contrast */
    font-family: 'Arial', sans-serif; /* Clean font */
    text-align: left; /* Center text */
    font-size: 1.6rem;
  }
  
  h2 {
    margin-bottom: 20px; /* Space below the title */
    font-size: 2.5rem; /* Font size for the title */
  }
  
  .lesson-content {
    max-width: 1000px; /* Max width for readability */
    width: 100%; /* Full width until max width */
    padding: 20px; /* Padding around the content */
    background-color: #fff; /* White background for content area */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .back-button {
    margin-top: 20px; /* Space above the button */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    background-color: #007bff; /* Blue background */
    color: white; /* White text color */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 1.6rem; /* Font size */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .back-button:hover {
    background-color: #0056b3; /* Darker blue on hover */

  }
  
  .lesson-content ul {
    margin-left: 30px;
  }


  .lesson-content a {
    text-decoration: none; /* Remove underline from links */
    color: #007bff; /* Link color */
    transition: color 0.3s; /* Smooth transition */
  }
  
  .lesson-content a:hover {
    color: #0056b3; /* Darker color on hover */
  }
  

  .exercise-box {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
    border-radius: 5px;
  }
  
  .exercise-box h3 {
    margin-top: 0;
    font-size: 1.2em;
  }
  
  .exercise-box p {
    margin: 0;
    font-size: 1em;
  }